/ActivityComponents.class
/ActivityModules.class
/AppComponents.class
/AppModules.class
/ForActivity.class
/ForApplication.class
/ForFragment.class
/FragmentComponents.class
/FragmentModules.class
/PerActivity.class
/PerApplication.class
/PerFragment.class
