/AbstractDownloaderFragment$DownloadListAdapter.class
/AbstractDownloaderFragment$FetchDatabaseTask.class
/AbstractDownloaderFragment$LoadMoreTask.class
/AbstractDownloaderFragment$RetrieveTask.class
/AbstractDownloaderFragment.class
/DownloadItem$ItemType.class
/DownloadItem.class
/DownloaderUtils.class
